@model BlogApp.Models.Post
@{
    ViewData["Title"] = Model.Title + " | BlogApp";
}
@section Heads
{
<link rel="stylesheet" href="~/css/dracular-hightlight.css" asp-append-version="true" />
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
<meta name="description" content="@Model.Summary" />
<meta name="author" content="@Model.Author.DisplayName" />
<meta property="og:title" content="@Model.Title" />
<meta property="og:description" content="@Model.Summary" />
<meta property="og:image" content="@Model.ThumbnailUrl" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="BlogApp" />
<meta property="article:published_time" content="@Model.CreatedAt" />
<meta property="article:modified_time" content="@Model.UpdatedAt" />
<meta property="article:author" content="@Model.Author.DisplayName" />}
<div class="mx-auto content max-w-[850px]">
    <h1 class="font-bold leading-[3.5rem] text-5xl mt-8 ">@Model.Title</h1>
    <div class="flex items-center gap-x-4 $ssm:gap-x-1">
        <div
            class="relative inline-flex items-center justify-center $ssm:w-10 $ssm:h-10 w-12 h-12 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <span class="font-medium text-gray-600 dark:text-gray-300"> @Model.Author.DisplayName[0] </span>
        </div>
        <div class="font-medium $ssm:text-sm dark:text-white">
            <div>@Model.Author.DisplayName</div>
            <div class="text-xs text-gray-500 dark:text-gray-400">
                @Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")
            </div>
        </div>
    </div>
    <div class="my-3 px-2 flex justify-center items-center">
        <img class="h-auto max-w-full  rounded-lg " src="@Model.ThumbnailUrl" alt="image description">
    </div>

</div>
<article class="content mx-auto max-w-[850px] px-2">

    @Html.Raw(@Model.Content)
</article>
@if (Context.User.Identity.IsAuthenticated)
{
    @using System.Security.Claims;
    var role = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value ??
    ""; if (role == BlogApp.Models.User.Role.ADMIN.ToString())
    {
        <div class="w-full flex justify-center">
            <a asp-action="EditPost" asp-route-slug="@Model.Slug"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Sửa bài viết

            </a>

        </div>
    }
}

@section Scripts {

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>

</script>
}
