@model BlogApp.Models.Post
@{
    ViewData["Title"] = Model.Title + " | BlogApp";
}
@section Heads
{
    <link rel="stylesheet" href="~/css/dracular-hightlight.css" asp-append-version="true"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>
    <meta name="description" content="@Model.Summary" />
    <meta name="author" content="@Model.Author.DisplayName" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Summary" />
    <meta property="og:image" content="@Model.ThumbnailUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="BlogApp" />
    <meta property="article:published_time" content="@Model.CreatedAt" />
    <meta property="article:modified_time" content="@Model.UpdatedAt" />
    <meta property="article:author" content="@Model.Author.DisplayName" />


}
<div class="mx-auto max-w-[850px]">
        <h1 class="font-bold leading-[3.5rem] text-5xl mt-8 mb-12">@Model.Title</h1>
</div>
<article class="content mx-auto max-w-[850px]">

    @Html.Raw(@Model.Content)
</article>

@section Scripts {
   
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>

        </script>
}
